div(class="" ng-controller="LoginController as vm")
    h2 Login
    form(name="loginForm" role="form" ng-submit="vm.login()" novalidate)
        div(class="form-group"
        ng-class!="{ 'hash-error': loginForm.username.$dirty && loginForm.username.$invalid }")
            input(
                name="username"
                type="text"
                role="textbox"
                class="form-control"
                placeholder="Username"
                ng-model="vm.username"
                ng-class!="{ 'form-control-danger': loginForm.username.$dirty && loginForm.username.$invalid }"
                ng-model-options="{ updateOn: 'default blur' }"
                required)
            div(class="form-group-helper" role="alert" ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched")
                div(ng-messages-include="dist/views/authentication/login.message.html")

        div(class="form-group"
        ng-class!="{ 'hash-error': login.password.$dirty && login.password.$invalid }")
            input(
                name="password"
                type="password"
                role="textbox"
                class="form-control"
                placeholder="Password"
                ng-model="vm.password"
                ng-class!="{ 'form-control-danger': loginForm.password.$dirty && loginForm.password.$invalid }"
                ng-model-options="{ updateOn: 'default blur' }"
                required)
            div(class="form-group-helper" role="alert" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched")
                div(ng-messages-include="dist/views/authentication/login.message.html")

        div(class="form-actions")
            button(
                type="submit"
                role="button"
                class="btn btn-primary btn-block"
                ng-disabled!="loginForm.$invalid || vm.loading") Login
            a(
                role="button"
                class="btn"
                href="/signup") Sign Up
