div(class="" ng-controller="SignupController as vm")
    h2 Sign Up
    form(name="signupForm" role="form" ng-submit="vm.signup()" novalidate)
        div(class="form-group" ng-class!="{ 'hash-error': signupForm.firstname.$dirty && signupForm.firstname.$invalid }")
            input(
                name="firstname"
                type="text"
                role="textbox"
                class="form-control"
                placeholder="Firstname"
                ng-model="vm.firstname"
                ng-class!="{ 'form-control-danger': signupForm.firstname.$dirty && signupForm.firstname.$invalid }"
                ng-model-options="{ updateOn: 'default blur' }"
                ng-minlength="3" ng-maxlength="20" required)
            div(class="form-group-helper" role="alert" ng-messages="signupForm.firstname.$error" ng-show="signupForm.firstname.$dirty")
                div(ng-messages-include="dist/views/authentication/signup.message.html")

        div(class="form-group"
        ng-class!="{ 'hash-error': signupForm.lastname.$dirty && signupForm.lastname.$invalid }")
            input(
                name="lastname"
                type="text"
                role="textbox"
                class="form-control"
                placeholder="Lastname"
                ng-model="vm.lastname"
                ng-class!="{ 'form-control-danger': signupForm.lastname.$dirty && signupForm.lastname.$invalid }"
                ng-model-options="{ updateOn: 'default blur' }"
                ng-minlength="3" ng-maxlength="20" required)
            div(class="form-group-helper" role="alert" ng-messages="signupForm.lastname.$error" ng-show="signupForm.lastname.$dirty")
                div(ng-messages-include="dist/views/authentication/signup.message.html")

        div(class="form-group" ng-class!="{ 'hash-error': signupForm.email.$dirty && signupForm.email.$invalid }")
            input(
                name="email"
                type="email"
                role="textbox"
                class="form-control"
                placeholder="Email"
                ng-model="vm.email"
                ng-class!="{ 'form-control-danger': signupForm.email.$dirty && signupForm.email.$invalid }"
                ng-model-options="{ updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                required
                m-unique="metricapp.com:8090/api/users/exist/email")
            div(class="form-group-helper" role="alert" ng-messages="signupForm.email.$error" ng-show="signupForm.email.$dirty")
                div(ng-messages-include="dist/views/authentication/signup.message.html")

            div(class="form-group" ng-class!="{ 'hash-error': signupForm.role.$dirty && signupForm.role.$invalid }")
                select(
                    name="role"
                    role="combobox"
                    class="form-control"
                    ng-model="vm.role"
                    ng-class!="{ 'form-control-danger': signupForm.role.$dirty && signupForm.role.$invalid }"
                    ng-model-options="{ updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                    required)
                    option(value="" disabled selected) Role
                    option(ng-repeat="(role_key,role_name) in vm.ROLES" ng-value="role_name") {{role_name}}
                div(class="form-group-helper" role="alert" ng-messages="signupForm.role.$error" ng-show="signupForm.role.$dirty")
                    div(ng-messages-include="dist/views/authentication/signup.message.html")


        div(class="form-group" ng-class!="{ 'hash-error': signupForm.username.$dirty && signupForm.username.$invalid }")
            input(
                name="username"
                type="text"
                role="textbox"
                class="form-control"
                placeholder="Username"
                ng-model="vm.username"
                ng-class!="{ 'form-control-danger': signupForm.username.$dirty && signupForm.username.$invalid }"
                ng-model-options="{ updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                ng-minlength="3" ng-maxlength="20" required
                m-unique="metricapp.com:8090/api/users/exist/username")
            div(class="form-group-helper" role="alert" ng-messages="signupForm.username.$error" ng-show="signupForm.username.$dirty")
                div(ng-messages-include="dist/views/authentication/signup.message.html")

        div(class="form-group" ng-class!="{ 'hash-error': signupForm.password.$dirty && signupForm.password.$invalid }")
            input(
                name="password"
                type="password"
                role="textbox"
                class="form-control"
                placeholder="Password"
                ng-model="vm.password"
                ng-class!="{ 'form-control-danger': signupForm.password.$dirty && signupForm.password.$invalid }"
                ng-model-options="{ updateOn: 'default blur' }"
                ng-minlength="3" ng-maxlength="20" required)
            div(class="form-group-helper" role="alert" ng-messages="signupForm.password.$error" ng-show="signupForm.password.$dirty")
                div(ng-messages-include="dist/views/authentication/signup.message.html")

        div(class="form-group" ng-class!="{ 'hash-error': signupForm.password_r.$dirty && signupForm.password_r.$invalid }")
            input(
                name="password_r"
                type="password"
                class="form-control"
                placeholder="Password (repeat)"
                ng-model="vm.password_r"
                ng-class!="{ 'form-control-danger': signupForm.password_r.$dirty && signupForm.password_r.$invalid }"
                ng-model-options="{ updateOn: 'default blur' }"
                required
                m-match="{{vm.password}}")
            div(class="form-group-helper" role="alert" ng-messages="signupForm.password_r.$error" ng-show="signupForm.password_r.$dirty")
                div(ng-messages-include="dist/views/authentication/signup.message.html")

        div(class="form-actions")
            button(
                type="submit"
                class="btn btn-primary btn-block"
                ng-disabled!="signupForm.$invalid || vm.loading") Sign Up

            a(
                class="btn"
                role="button"
                ng-click="vm.cancelSignup()") Cancel
